@model IEnumerable<OnDemandService.Models.SMSApi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SMSUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMSApiKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SMSUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMSApiKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SMSApiId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SMSApiId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SMSApiId })
        </td>
    </tr>
}

</table>
