@model OnDemandService.Models.UserViewModel
@{
    ViewBag.Title = "ServiceStatus";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="w3layouts-header" style="margin-top:-45px;">
    <div class="container">

        <div class="logo-nav-agileits">
            <div class="logo-nav-left">
                <h1>
                    <a href="index.html">
                        <span class="fa fa-home"></span>Logo
                        <span class="logo-title">home services</span>
                    </a>
                </h1>
            </div>

            <div class="header-grid-left-wthree">
                <div class="h3-title">
                    <h3>contact us</h3>
                </div>
                <ul>
                    <li>
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                        <a href="mailto:info@example.com">homeservices.com</a>
                    </li>
                    <li>
                        <span class="fa fa-phone" aria-hidden="true"></span>+91-1234567890
                    </li>

                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <div class="logo-nav-left1">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        Menu
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "Home" )">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AboutUs", "Home" )">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Services", "Home" )">
                                Services
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ContactUs", "Home" )">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("TrackServiceStatus", "Home" )">
                                Status
                            </a>
                        </li>
                        @if (ViewBag.UserLoggedin != null && Convert.ToBoolean(ViewBag.UserLoggedin))
                        {
                            <li>
                                <a href="@Url.Action("Orders", "Home")">
                                    Orders
                                </a>
                            </li>
                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-bell"><span class="count">&nbsp;</span></span>
                                </a>
                                <ul class="dropdown-menu" id="dropdownid"></ul>
                            </li>


                            <li>
                                <a href="@Url.Action("Logout", "Home")">
                                    Logout
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("LoginProfessional", "User", new { Area = "Professional" } )">
                                    Professional
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("LoginUser", "Home")">
                                    Login
                                </a>
                            </li>
                        }

                        @*<li class="s-bar" style="float:right;">
                                <div class="search-w3_agileits">
                                    <input class="search_box" type="checkbox" id="search_box">
                                    <label class="icon-search" for="search_box">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </label>
                                    <div class="search_form">
                                        <form action="#" method="post">
                                            <input type="search" name="Search" placeholder=" " />
                                            <input type="submit" value="Search">
                                        </form>
                                    </div>
                                </div>
                            </li>*@
                    </ul>
                </div>

            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>


<!-- breadcrumbs -->
<div class="breadcrumbs-w3l">
    <div class="container">
        <span class="breadcrumbs">
            <a href="index.html">Home</a> |
            <span>Change Password</span>
        </span>
    </div>
</div>

<div class="w3ls-section banner-single" id="register">
    <div class="container">
        @*<h4 class="main-title">get registered!</h4>*@
        <div class="about-inner-main">
            <div class="col-md-5 reg-img">
                <img src="~/images/girl.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-7  w3layouts-reg-form">
                @using (Html.BeginForm())
                {
                    <div class="form-group has-feedback">
                        @Html.Hidden("Mobileno", (object)ViewBag.Mobileno)
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>


                    <div class="row">

                        <div class="col-xs-4 text-center">
                            <button type="submit" id="btnsubmit" class="btn btn-primary btn-block btn-flat">Submit</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                <br/>
                <br/>
                


                <!-- /.social-auth-links -->

                <div style="text-align:center;">
                    <input class="btn btn-primary" value="Login Now" type="button" onclick="location.href='@Url.Action("LoginUser", "Home")'" />
                    <input class="btn btn-primary" value="Register Now" type="button" onclick="location.href='@Url.Action("RegisterUser", "Home")'" />
                </div>



            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnsubmit").click(function (e) {
                if ($("#password").val() == "" || $("#confirmpassword") == "") {
                    alert("Kindly enter password");
                    e.preventDefault();
                } else if ($("#password").length < 6 || $("#confirmpassword").length < 6) {
                    alert("Password length must be greater than 5");
                    e.preventDefault();
                } else if ($("#password") != $("#confirmpassword")) {
                    alert("Password does not match");
                    e.preventDefault();
                }
            });
        });

    </script>


}